<template>
  <div>
    <nav-bar></nav-bar>
    <div id="wrapper">
      <side-bar></side-bar>
      <div id="content-wrapper">
          <div class="container-fluid">
            <div class="row">
                <card v-for="nganHang in danhSachNganHang" :key="nganHang" :nganHang="nganHang" ></card>
            </div>
            <table-component :danhSachGD="danhSachGD"></table-component>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from './NavBar.vue'
import SideBar from './SideBar.vue'
import TableComponent from './Table.vue'
import Card from './Card.vue'
import store from '../store/store.js'

export default {
    name: 'Admin',
    store,
    components: {
        SideBar,
        NavBar,
        TableComponent,
        Card
    },
    computed: {
        danhSachGD () {
            return store.getters.layDSTheoNganHang
        },
        danhSachNganHang () {
            return this.$store.state.danhSachNganHang
        }
    },
    methods: {
        /* xuLyChonNganHang (nganHang) {
            return this.$store.dispatch('chonNganHang', nganHang)
        } */
    }
}
</script>
