<template>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                <i class="fas fa-fw fa-comments"></i>
                </div>
                <div class="mr-5">{{nganHang}}</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" @click="xuLyChonNganHang(nganHang)">
                <span class="float-left">View Details</span>
                <span class="float-right">
                <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
</template>
<script>
import store from '../store/store.js'
export default {
    name: 'Card',
    store,
    props: ['nganHang'],
    methods: {
        xuLyChonNganHang (nganHang) {
            //this.$emit('click',nganHang)
            return this.$store.dispatch('chonNganHang', nganHang)
        }
    }
}
</script>
