<template>
    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <div class="form-label-group">
              <input v-model="username" type="text" id="inputEmail" class="form-control" placeholder="UserName" required="required" autofocus="autofocus">
                <label for="inputEmail">UserName</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input v-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                <label for="inputPassword">Password</label>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="remember-me">
                  Remember Password
                </label>
              </div>
            </div>
            <button class="btn btn-primary btn-block" @click="login()">Login</button>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="register.html">Register an Account</a>
            <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
import store from '../store/store.js'
import router from '../router/index.js'
export default {
    name: 'Login',
    store,
    data() {
      return {
        username: '',
        password: '',
        currenUser: '',
        currenPass: ''
      }
    },
    created () {
      this.currenUser = store.state.username
      this.currenPass = store.state.password
    },
    methods: {
      login () {
        if (this.username == this.currenUser && this.password == this.currenPass) {
          router.push('/index')
        }
      }
    }
}
</script>

