<template>
    <!-- DataTables Example -->
    <div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Data Table Example</div>
    <div class="card-body">
        <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>Tên giao dịch</th>
                <th>Loại giao dịch</th>
                <th>Ngày giao dịch</th>
                <th>Số tiền</th>
                <th>Đơn vị</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Tên giao dịch</th>
                <th>Loại giao dịch</th>
                <th>Ngày giao dịch</th>
                <th>Số tiền</th>
                <th>Đơn vị</th>
            </tr>
            </tfoot>
            <tbody>
            <tr v-for="(giaoDich,index) in danhSachGD" :key="index">
                <td>{{giaoDich.TenGiaoDich}}</td>
                <td>{{giaoDich.LoaiGD}}</td>
                <td>{{giaoDich.NgayGD}}</td>
                <td>{{giaoDich.SoTien}}</td>
                <td>{{giaoDich.DonVi}}</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
</template>
<script>
export default {
  name: 'Table',
  props: ['danhSachGD']
}
</script>
