<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import './assets/vendor/bootstrap/css/bootstrap.min.css'
import './assets/css/sb-admin.min.css'
import './assets/vendor/fontawesome-free/css/all.min.css'
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
